$ui-color-white: #fff;
$ui-color-black: #000;
$ui-color-dark-grey: #282828;
$ui-color-light-blue: #5da0df;
$ui-color-dark-blue: #075c73;
$ui-color-light-grey: #f2f5ff;
$ui-color-primary: #1976d2;
$ui-color-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
